@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


/* @font-face{
    font-family: "clock";
    src: url("clock.ttf");
} */
:root {
    --main-color: #C8B9B9; 
    --pomodoro: #bcadad;
    --shortBreak:#a99c9c;
    --longBreak: #958e8e;

}
html {
    background: linear-gradient( rgb(188, 188, 188), rgb(114, 114, 114));     height: 100%;
    width: 100%;
    height: 120%;
}

body {

   /*  background-color: rgb(169, 169, 169); */
    color: rgba(0, 0, 0, 0.683);
    font-family: 'Zen Kurenaido', sans-serif;
}
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
    margin: 30px 0px;
    padding-top:0px;
    border-radius: 30px;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: clamp(500px, 75vw, 900px); 
    white-space: nowrap;
    font-size: 40px;
    border-radius: 30px;
    padding: 20px 0px;
    background-color: var(--main-color);
    box-shadow: 0px 0px 20px rgb(145, 145, 145);
}

.task-list-title {
    display: flex;
    justify-content:center;
    max-width: 210px;
    min-width: 180px;
    background-color: var(--main-color);
    border-radius: 25px;
    font-size: 25px;
    padding: 10px 0px;
    margin-top: 16px;
    margin-bottom:0px;
}

ul.task-list {
    max-width: 200px;
}

li, .task-list {
    padding-top: 15px;
}

li:hover {
    transition: all 1s ease 0s;
    transform: scale(1.1);
}

.active-list {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.lists {
    display: flex;
    margin-top: 50px;
    justify-content: flex-start;
}

.all-tasks {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.task-list {
    font-size: 20px;
    margin-top: 5px;
}

.new-list-container {
    padding-top: 10px;
}

.todo-header {
    display: flex;
    padding: 5px 20px;
    background-color: var(--main-color);
    font-size: 17px;
    gap: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}
.task-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    margin-left: px;
    color:rgba(109, 109, 109, 0.772);
}

.todo-body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top:0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.task {
    font-size: 19px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom:10px;
}
.task:hover {
    transition-duration: .9s;
    transform: scale(1.05);
}

.new-task-creator {
    margin-top: 30px;
    margin-left: 5px;
}

.delete {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    color:rgb(97, 97, 97);
    text-align: left;
}

.btn:hover {
    transition: all .3s ease 0s;
    transform: scale(1.1);
    color: rgb(120, 120, 120);
}
.plus-button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    color: rgb(89, 89, 89);
    background-color: transparent;
    border: none;
}

.plus-button:hover {
    color: rgba(89, 89, 89, 0.683);
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

input[type='checkbox'] {
    display:none;
}

[type='checkbox']:checked + label{
    text-decoration: line-through;
    opacity: 0.4;
}

input[type=text] {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 18px;
    width: 60%;
    padding: 5px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 3px solid rgb(169, 169, 169);
    border-radius: 20px;
    transition: 0.5s;
    outline: none;
    background-color: rgba(210, 205, 205, 0.821);
}

input[type=text]:focus {
    border: 3px solid rgba(126, 126, 126, 0.91);
}

.pomodoro {
    margin: auto;
    margin-top:60px;
    width: clamp(400px, 70vw,800px); 
    height: 250px;
    border-radius: 30px;
    background-color: var(--main-color);
    transition: background-color 1s ease;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-content: center;
}
  

.timer {
    align-content: center;
    padding: 20px;
    text-align: center;
}
  
.clock {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 8rem;
    line-height: 1;
}
/* 
.mode-buttons {
    display: flex;
    align-items: center;
    justify-content:center;
} */

.mode-button {
    font-size: 1.1rem;
    font-family: 'Zen Kurenaido', sans-serif;
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    font-weight: 300;
    color: #fff;
    border: 1px solid transparent;
    margin: 0px;
    border-radius: 4px;
    padding: 2px 12px;
    padding-bottom: 30px;
    background: none;
}

.mode-buttons {
    margin-top: 10px;
}

.mode-button.active {
    border-color: #fff;
    border-radius: 20px;
}

.main-button {
    cursor: pointer;
    font-size: 1.7rem;
    height: 50px;
    text-transform: uppercase;
    font-family: 'Zen Kurenaido', sans-serif;
    color: rgba(0, 0, 0, 0.683);
    box-shadow: 0px 0px 20px rgb(114, 114, 114);
    border-radius: 30px;
    font-weight: bold;
    width: 150px;
    background-color: var(--main-color);
    border-width: initial;
    border-style: none;
    margin: 30px 0px 0px;
    padding: 0px 12px;
}

.main-button:hover {
    transition: 1s;
}
  
button:focus, button:active {
    outline: none;
}
  
.main-button.active {
    
    box-shadow: none;
    outline: none;
}
  
.hidden {
    display: none;
}
