@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

:root {
    --header-color: rgba(200, 185, 185, 0.903); 
}
html {
    height: 100%;
    /* background: linear-gradient(#ff9085, #878fe3);  */
    /* background: linear-gradient(#8c92ac, #9CAF88);  */
    /* background: linear-gradient(rgb(82, 151, 255), rgb(109, 100, 209)); */
    background: linear-gradient( rgb(188, 188, 188), rgb(114, 114, 114));


}
body {
   /*  background-color: rgb(169, 169, 169); */
    color: rgba(0, 0, 0, 0.683);
    font-family: 'Zen Kurenaido', sans-serif;
}
.content-container {
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin: 30px;
    border-radius: 30px;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    max-width: 800px;
    min-width: 400px;
    font-size: 40px;
    border-radius: 30px;
    padding: 20px 0px;
    background-color: var(--header-color);
    box-shadow: 0px 0px 20px rgb(212, 198, 198);
}

.task-list-title {
    display: flex;
    justify-content:center;
    max-width: 210px;
    min-width: 180px;
    background-color: var(--header-color);
    border-radius: 25px;
    font-size: 25px;
    padding: 10px 0px;
    margin-top: 16px;
    margin-bottom:0px;
}

ul.task-list {
    max-width: 200px;
}

li, .task-list {
    padding-top: 15px;
}

li:hover {
    transition: all 1s ease 0s;
    transform: scale(1.1);
}

.active-list {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.lists {
    display: flex;
    margin-top: 50px;
    justify-content: flex-start;
}

.all-tasks {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.task-list {
    font-size: 20px;
    margin-top: 5px;
}

.new-list-container {
    padding-top: 10px;
}

.todo-header {
    display: flex;
    padding: 5px 20px;
    background-color: var(--header-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 17px;
}
.task-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    margin-left: 150px;
    color:rgba(109, 109, 109, 0.772);
}



.todo-body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top:0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.task {
    font-size: 19px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom:10px;
}
.task:hover {
    transition-duration: .9s;
    transform: scale(1.05);
}

.new-task-creator {
    margin-top: 30px;
    margin-left: 5px;
}

.delete {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: none;
    background-color: transparent;
    color:rgb(109, 109, 109);
}

.btn:hover {
    transition: all .3s ease 0s;
    transform: scale(1.1);
    color: rgb(145, 144, 144);
}
.plus-button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    color: rgb(89, 89, 89);
    background-color: transparent;
    border: none;
}

.plus-button:hover {
    transition: all .3s ease 0s;
    color: rgba(89, 89, 89, 0.683);
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

input[type='checkbox'] {
    display:none;
}



[type='checkbox']:checked + label{
    text-decoration: line-through;
    opacity: 0.4;
}

input[type=text] {
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 18px;
    width: 50%;
    padding: 5px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 3px solid rgb(169, 169, 169);
    border-radius: 20px;
    transition: 0.5s;
    outline: none;
    background-color: rgba(210, 205, 205, 0.821);
  }
  
  input[type=text]:focus {
    border: 3px solid rgba(126, 126, 126, 0.91);
  }